.footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: var(--color3);
    color: var(--color5);
}

@media screen and (min-width: 768px){
    .footer{
        flex-direction: row;
    }
    
}